*{
    box-sizing: border-box;
    font-family: monospace;
}
body{
    margin:0;
    padding: 0;
    
}
#codeWizard{
    width: 30vw;
    height: auto;
}
.banner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 10vw;
}

h1{
    margin:0;
}